body {
    margin: 0px;
    padding: 0px;
}

#divA_3 img { /*image*/
    position: relative;
    top: 20px;
    left: 10px;
    height: 430px;
    width: 1340px;
}

.pA_3 { /*label*/
    position: absolute;
    top: 170px;
    left: 15px;
    color: white;
    font-size: 30px;
    font-family: Arial;
    text-shadow: 2px 2px 2px #000000;
    background-color: #3065e2;
    padding-left: 30px;
    padding-right: 5px;
}

#divB_3 { /*Box*/
    position: absolute;
    top: 250px;
    right: 400px;
    height: 300px;
    width: 500px;
    background-color: darkgray;
    opacity: 0.9;
    border: 2px solid white;
    box-shadow: 2px 2px 2px #6f6d6d;
}

.ButA_3 { /*button jobseeker*/
    position: relative;
    display: block;
    width: 450px;
    height: 70px;
    margin: 30px auto;
    font-family: Arial;
    font-size: 30px;
    background-color: lightblue;
}

.ButB_3 { /*button employer*/
    position: relative;
    display: block;
    width: 450px;
    height: 70px;
    margin: 20px auto;
    font-family: Arial;
    font-size: 30px;
    background-color: lightblue;
}

.ButC_3 { /*button admin*/
    position: relative;
    display: block;
    width: 450px;
    height: 70px;
    margin: 10px auto;
    font-family: Arial;
    font-size: 30px;
    background-color: lightblue;
}

.ButA_3:hover { /*button jobseeker hover*/
    background-color: lightsalmon;
    color: white;
}

.ButB_3:hover { /*button employer hover*/
    background-color: lightsalmon;
    color: white;
}

.ButC_3:hover { /*button admin hover*/
    background-color: lightsalmon;
    color: white;
}
