body {
    margin: 0px;
    padding: 0px;
}

#divA_3 { /*box*/   /*40px gap between label & textbox*/  /*50px gap between textbox & label*/
    position: absolute;
    top: 150px;
    right: 350px;
    border: 3px solid gray;
    height: 400px;
    width: 600px;
    background: linear-gradient(to bottom, #59a5ff, #d1d5ff);
    opacity: 0.7;
    box-shadow: 2px 2px 5px black;
}

.labelB_3 { /*Subject label*/
    position: absolute;     
    top: 10px;
    left: 10px;
    background-color: black;
    color: navajowhite;
    font-size: 25px;
    font-family: Arial;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.textboxB_3 { /*Subject textbox*/
    position: absolute;
    top: 50px;
    left: 10px;
    font-size: 25px;
    background-color: gainsboro;
    margin-bottom: 20px;
    width:300px;
}

.labelC_3 { /*Message label*/
    position: absolute;
    top: 160px;
    left: 10px;
    background-color: black;
    color: navajowhite;
    font-size: 25px;
    font-family: Arial;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.textboxC_3 { /*Message textbox*/
    position: absolute;
    top: 200px;
    left: 10px;
    font-size: 25px;
    background-color: gainsboro;
    margin-bottom: 20px;
    width:300px;
    height:150px;
}