body {
    padding: 0px;
    margin: 0px;
}

#divA1_3 { /*box*/
    position: absolute;
    top: 200px;
    right: 250px;
    border: 3px solid gray;
    height: 300px;
    width: 700px;
    background: linear-gradient(to bottom, #59a5ff, #d1d5ff);
    opacity: 0.7;
    box-shadow: 2px 2px 5px black;
}

.imageA_3 { /*pdf logo*/
    position: absolute;
    top: 15px;
    right: 280px;
    height: 100px;
    width: 130px;
    background-color: aliceblue;
    box-shadow: 1px 1px 7px black;
}

.fileuploadA_3 { /*upload button*/
    position: absolute;
    top: 150px;
    right: 100px;
    height: 40px;
    width: 500px;
    font-family: Consolas;
    font-size: 15px;
}
.rfvA_3 { /*save button required feild validation*/
    position: absolute;
    top: 160px;
    left: 70px;
    font-size: 30px;
    text-shadow: 2px 2px 2px white;
}

.buttonA_3 { /*save button*/
    position: absolute;
    top: 230px;
    right: 265px;
    padding: 15px 50px;
    font-size: 20px;
    font-family: Arial;
    background-color: lightblue;
}

    .buttonA_3:hover { /*save button hover*/
        background-color: lightsalmon;
        color: white;
    }

    .buttonB_3 { /*update button*/
    position: absolute;
    top: 230px;
    right: 265px;
    padding: 15px 50px;
    font-size: 20px;
    font-family: Arial;
    background-color: lightblue;
}

    .buttonB_3:hover { /*update button hover*/
        background-color: lightsalmon;
        color: white;
    }



.vsA_3 { /*validation summary*/
    position: absolute;
    left: 5px;
    bottom: 5px;
}