body {
    margin: 0px;
    padding: 0px;
}

#divA_3 { /*box*/ /*70px gap between textbox & label*/ /*50px gap between label & textbox*/
    position: absolute;
    top: 185px;
    right: 350px;
    border: 3px solid gray;
    height: 400px;
    width: 600px;
    background: linear-gradient(to bottom, #59a5ff, #d1d5ff);
    opacity: 0.7;
    box-shadow: 2px 2px 5px black;
}

.labelA_3 { /*old password label*/
    position: absolute;     
    top: 10px;
    left: 10px;
    background-color: black;
    color: navajowhite;
    font-size: 30px;
    font-family: Arial;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.textboxA_3 { /*old password textbox*/
    position: absolute;
    top: 60px;
    left: 5px;
    font-size: 30px;
    background-color: gainsboro;
    margin-bottom: 20px;
}

.rfvA_3 { /*required feild validator old password*/
    position: absolute;
    right: 240px;
    top: 70px;
    font-size: 30px;
    text-shadow: 2px 2px 2px white;
}

.labelB_3 { /*new password label*/
    position: absolute;
    top: 130px;
    left: 10px;
    background-color: black;
    color: navajowhite;
    font-size: 30px;
    font-family: Arial;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.textboxB_3 { /*new password textbox*/
    position: absolute;
    top: 180px;
    left: 5px;
    font-size: 30px;
    background-color: gainsboro;
    margin-bottom: 20px;
}

.rfvB_3 { /*required feild validator new password*/
    position: absolute;
    right: 240px;
    top: 190px;
    font-size: 30px;
    text-shadow: 2px 2px 2px white;
}

.cvA_3 { /*new password custom validator for password length*/
    position: absolute;
    right: 240px;
    top: 190px;
    font-size: 30px;
    text-shadow: 2px 2px 2px white;
}

.labelC_3 { /*confirm password label*/
    position: absolute;
    top: 250px;
    left: 10px;
    background-color: black;
    color: navajowhite;
    font-size: 30px;
    font-family: Arial;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.textboxC_3 { /*confirm password textbox*/
    position: absolute;
    top: 300px;
    left: 5px;
    font-size: 30px;
    background-color: gainsboro;
    margin-bottom: 20px;
}

.rfvC_3 { /*required feild validator new password*/
    position: absolute;
    right: 240px;
    top: 310px;
    font-size: 30px;
    text-shadow: 2px 2px 2px white;
}

.comparevA_3 { /*compare passwords validator*/
    position: absolute;
    right: 240px;
    top: 310px;
    font-size: 30px;
    text-shadow: 2px 2px 2px white;
}

.buttonA_3 { /*Update button*/
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 170px;
    height: 30px;
    font-size: 18px;
    font-family: Arial;
    background-color: lightblue;
}

    .buttonA_3:hover { /*update button hover*/
        background-color: lightsalmon;
        color: white;
    }

.labelD_3 { /*success label*/
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-family: Arial;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.vsumA_3 { /*validation summary*/
    position: absolute;
    right: 5px;
    bottom: 5px;
}
